.idea
*.pyc
*.pyc
*.pyc
*.jpg
program/model/detection/__model__
program/model/detection/__params__
*.yml
program/model/embedding/__model__
program/model/embedding/__params__
program/__pycache__/wifi_init.cpython-37.pyc
program/__pycache__/wifi_init.cpython-37.pyc
program/__pycache__/wifi_init.cpython-37.pyc
program/test.py
program/test1.py
program/test2.py
program/test3.py
program/__pycache__/wifi_init.cpython-37.pyc
